

.error {
    color: red;
  }

.form-message {
    color: red;
}

.button {
  margin-bottom: 3.5em;
  margin-left: .5em;
  background: rgba(50.2, 0, 12.5, 1) !important;
  border: white;
}

.input-row {
  margin-top: 1.5em;
  margin-left: .5em;
}

.wine {
  margin-left: .5em;
  padding: 0em;
}

