.button {
   background-color: #2b0001 !important;
   /* text-align: right; */
   margin-right: -1.5em;
   margin-left: 1.9em;
   margin-top: -.5em;
   display: inline;
}
.reset{
   background-color: white !important;
   color: #2b0001 !important;
   /* text-align: right; */
   margin-right: -1.5em;
   margin-left: 1.9em;
   margin-top: -.5em;
   display: inline;
}